nelson-automation-n8n/templates/monitor-servidor-workflow.json
{
  "name": "Monitor Servidor ai-server → WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 5}]
        }
      },
      "id": "cron-trigger",
      "name": "Cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://172.17.0.1:9099/",
        "options": {}
      },
      "id": "check-server",
      "name": "Check Servidor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "alert",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-alert",
      "name": "¿Hay alertas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst now = new Date().toLocaleString('es-AR', {timeZone: 'America/Argentina/Buenos_Aires'});\nconst alertList = (d.alerts || []).map(a => '• ' + a).join('\\n');\nconst svc = d.services || {};\nconst met = d.metrics || {};\nconst msg = `🚨 ALERTA ai-server — ${now}\\n\\n${alertList}\\n\\n📊 Estado:\\n• CPU: ${met.cpu}%\\n• RAM: ${met.ram}%\\n• Disco: ${met.disk}%\\n• ForestAI: ${svc.forestai_docker > 0 ? '✅' : '❌ CAIDO'}\\n• Bisonte: ${svc.bisonte_9000 > 0 ? '✅' : '⚠️ CAIDO'}\\n• WhatsApp GW: ${svc.whatsapp_3001 > 0 ? '✅' : '❌ CAIDO'}`;\nreturn [{ json: { to: '5493816240691', message: msg } }];"
      },
      "id": "build-message",
      "name": "Armar mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.to, message: $json.message }) }}"
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Cada 5 minutos": {"main": [[{"node": "Check Servidor", "type": "main", "index": 0}]]},
    "Check Servidor":  {"main": [[{"node": "¿Hay alertas?",  "type": "main", "index": 0}]]},
    "¿Hay alertas?":  {"main": [[{"node": "Armar mensaje",   "type": "main", "index": 0}], []]},
    "Armar mensaje":  {"main": [[{"node": "Enviar WhatsApp", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "_meta": {
    "note": "Requiere health_server.py corriendo en puerto 9099 del host. Ver templates/health_server.py. Importar con: docker cp file.json n8n:/tmp/ && docker exec n8n n8n import:workflow --input=/tmp/file.json. Activar via REST API después del import."
  }
}
