nelson-automation-n8n/templates/opencode-workflow.json
{
  "name": "OpenCode Integration - Generar Codigo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-opencode",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4096/api/v1/chat",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "prompt": "={{ $json.body.prompt }}"
        }
      },
      "name": "HTTP Request - OpenCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - OpenCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - OpenCode": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
